body::before {
  content: "";
  background: url('../../assets/img/init-redraft%20emblem%204.png') no-repeat center center;
  background-size: contain;
  opacity: 0.07;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

body .cli {
  color: #00ff00;
  font-family: 'Fira Code', monospace;
}

#blog-thumbnail-text {
  color: var(--bs-body-bg);
  font-family: 'Cabin';
}

.blog-body-text {
  color: var(--bs-body-bg);
  font-family: 'Cabin';
}

.blog-body-heading {
  color: #00ff00;
  font-family: 'Fira Code';
}

#file-icon {
  position: fixed;
  bottom: 20px;
  left: 20px;
  font-size: 24px;
  cursor: pointer;
  z-index: 1000;
  color: #00ff00;
  font-family: 'Fira Code';
}

#sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #111;
  color: #00ff00;
  font-family: 'Fira Code';
  padding: 20px;
  overflow-y: auto;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: 999;
}

#sidebar.active {
  transform: translatex(0);
}

.hidden {
  display: none;
}

.breadcrumb {
  font-family: 'Fira Code';
  font-size: 0.9rem;
  color: #00ff00f0;
  padding: 0.5rem 1rem;
}

