[data-bs-theme=dark] {
  --bs-primary: #00ff00;
  --bs-primary-rgb: 0,255,0;
  --bs-primary-text-emphasis: #66FF66;
  --bs-primary-bg-subtle: #003300;
  --bs-primary-border-subtle: #009900;
  --bs-body-color: #00FF00;
  --bs-body-color-rgb: 0,255,0;
  --bs-secondary-color: rgba(0,255,0,0.75);
  --bs-secondary-color-rgb: 0,255,0,0.75;
  --bs-tertiary-color: rgba(0,255,0,0.5);
  --bs-tertiary-color-rgb: 0,255,0,0.5;
  --bs-body-font-family: 'Fira Code', monospace;
}

[data-bs-theme=dark] .btn-primary, .btn-primary[data-bs-theme=dark] {
  --bs-btn-color: #000000;
  --bs-btn-bg: #00ff00;
  --bs-btn-border-color: #00ff00;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #26FF26;
  --bs-btn-hover-border-color: #19FF19;
  --bs-btn-focus-shadow-rgb: 0,38,0;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #33FF33;
  --bs-btn-active-border-color: #19FF19;
  --bs-btn-disabled-color: #000000;
  --bs-btn-disabled-bg: #00ff00;
  --bs-btn-disabled-border-color: #00ff00;
}

[data-bs-theme=dark] .btn-outline-primary, .btn-outline-primary[data-bs-theme=dark] {
  --bs-btn-color: #00ff00;
  --bs-btn-border-color: #00ff00;
  --bs-btn-focus-shadow-rgb: 0,255,0;
  --bs-btn-hover-color: #000000;
  --bs-btn-hover-bg: #00ff00;
  --bs-btn-hover-border-color: #00ff00;
  --bs-btn-active-color: #000000;
  --bs-btn-active-bg: #00ff00;
  --bs-btn-active-border-color: #00ff00;
  --bs-btn-disabled-color: #00ff00;
  --bs-btn-disabled-bg: transparent;
  --bs-btn-disabled-border-color: #00ff00;
}

.my-3 {
  margin-top: 1rem !important;
  margin-bottom: 1rem !important;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: .25rem !important;
}

.mt-2 {
  margin-top: .5rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-7 {
  margin-top: 6rem !important;
}

.me-0 {
  margin-right: 0 !important;
}

.me-2 {
  margin-right: .5rem !important;
}

.me-4 {
  margin-right: 1.5rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.ms-0 {
  margin-left: 0 !important;
}

.ms-2 {
  margin-left: .5rem !important;
}

.ms-auto {
  margin-left: auto !important;
}

.py-4 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.pe-2 {
  padding-right: .5rem !important;
}

.pe-3 {
  padding-right: 1rem !important;
}

.ps-2 {
  padding-left: .5rem !important;
}

.ps-3 {
  padding-left: 1rem !important;
}

@media (min-width: 576px) {
  .me-sm-0 {
    margin-right: 0rem !important;
  }
}

@media (min-width: 576px) {
  .me-sm-2 {
    margin-right: 0.5rem !important;
  }
}

@media (min-width: 576px) {
  .ms-sm-0 {
    margin-left: 0rem !important;
  }
}

@media (min-width: 576px) {
  .ms-sm-2 {
    margin-left: 0.5rem !important;
  }
}

@media (min-width: 576px) {
  .pe-sm-3 {
    padding-right: 1rem !important;
  }
}

@media (min-width: 576px) {
  .pe-sm-4 {
    padding-right: 1.5rem !important;
  }
}

@media (min-width: 576px) {
  .ps-sm-3 {
    padding-left: 1rem !important;
  }
}

@media (min-width: 576px) {
  .ps-sm-4 {
    padding-left: 1.5rem !important;
  }
}

@media (min-width: 768px) {
  .me-md-4 {
    margin-right: 1.5rem !important;
  }
}

@media (min-width: 768px) {
  .ms-md-4 {
    margin-left: 1.5rem !important;
  }
}

@media (min-width: 768px) {
  .pe-md-4 {
    padding-right: 1.5rem !important;
  }
}

@media (min-width: 768px) {
  .ps-md-4 {
    padding-left: 1.5rem !important;
  }
}

@media (min-width: 992px) {
  .me-lg-6 {
    margin-right: 4.5rem !important;
  }
}

@media (min-width: 992px) {
  .ms-lg-6 {
    margin-left: 4.5rem !important;
  }
}

@media (min-width: 992px) {
  .py-lg-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

@media (min-width: 992px) {
  .pe-lg-6 {
    padding-right: 4.5rem !important;
  }
}

@media (min-width: 992px) {
  .ps-lg-6 {
    padding-left: 4.5rem !important;
  }
}

@media (min-width: 1200px) {
  .me-xl-8 {
    margin-right: 7.5rem !important;
  }
}

@media (min-width: 1200px) {
  .ms-xl-8 {
    margin-left: 7.5rem !important;
  }
}

@media (min-width: 1200px) {
  .py-xl-5 {
    padding-top: 3rem !important;
    padding-bottom: 3rem !important;
  }
}

@media (min-width: 1200px) {
  .pe-xl-8 {
    padding-right: 7.5rem !important;
  }
}

@media (min-width: 1200px) {
  .ps-xl-8 {
    padding-left: 7.5rem !important;
  }
}

@media (min-width: 1400px) {
  .me-xxl-10 {
    margin-right: 10.5rem !important;
  }
}

@media (min-width: 1400px) {
  .ms-xxl-10 {
    margin-left: 10.5rem !important;
  }
}

@media (min-width: 1400px) {
  .pe-xxl-10 {
    padding-right: 10.5rem !important;
  }
}

@media (min-width: 1400px) {
  .ps-xxl-10 {
    padding-left: 10.5rem !important;
  }
}

