#cli-terminal {
  background-color: #111;
  color: 00ff00;
  font-family: 'Fira Code';
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px #00ff00;
  max-width: 100%;
  margin: 0.2em auto;
  max-height: 600px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 100vw;
  overflow-x: hidden;
  align-items: flex-start;
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}

.cli-output p {
  margin: 0.2em 0;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.cli-input-line {
  bottom: 0;
  background: #111;
  padding: 0.5rem;
  display: flex;
  gap: 0.5rem;
  width: 100%;
  box-sizing: border-box;
}

.cli-input-line span {
  margin-right: 0.5em;
}

.cli-input {
  background: none;
  border: none;
  color: #00ff00;
  font-family: inherit;
  font-size: 1em;
  flex-grow: 1;
  outline: none;
  direction: ltr;
  unicode-bidi: normal;
  transform: none;
  width: 100%;
  box-sizing: border-box;
}

#cli-output {
  flex: 1;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

#cli-output, .cli-input-line, .cli-output p, .cli-input {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

